< %-partial(' _ partial/BG-cover ')% >
<!-- 增加相册显示的特效样式 -->
<风格>
。照片{
填充:0 40px！重要；
显示:内嵌-块；
位置:相对；
过渡:全. 6s；
    }
。标贴{
填充:8px 10px
颜色:# 4c 4c 4e；
文本对齐:居中；
字体粗细:400；
字体大小:18px
    }
。img-项目{
填充:. 2rem
背景色:# fff
边框半径:10px
box-shadow:1px 2px 2px 0 # AAA；
过渡:所有. 4s三次贝塞尔曲线(. 63，. 15，. 03，1.12)；
边距-底部:20px
    }
。照片:第n个孩子(奇数){
变换:rotateZ(-5 deg)；
    }    
。图:第n个孩子(偶数){
变换:rotateZ(5度)；
    }
。text_des{
位置:绝对；
宽度:92%；
身高:100%；
top:0；
颜色:# 000；
溢出:隐藏；
    }
。text_des h3{
边距:5px 0 8px 0px
右:40px
字体大小:1.5雷姆；
字体粗细:粗体；
行高:1.7雷姆；
位置:绝对；
top:10%；
字体样式:斜体；
text-shadow: 2px 2px 10px rgba(0，0，0，0.3)；
/* transform:translate x(200 px)；*/
    }
。text_des p{
左:15px
位置:绝对；
top:50%；
/* transform:translate x(-200 px)；
过渡延迟:0.2s*/
    }
。我的画廊。照片图像{
边框半径:10px
高度:240px
    }
。卡。卡片内容{
填充:24px 24px 24px 24px
    }
。苗树{
填充:20px
边框:1px虚线# e6e6e6
颜色:# 969696；
位置:相对；
显示:内嵌-块；
宽度:95%；
背景:# fbfbfb50
边框半径:10px
字体大小:16px
边距:12px自动；
    }
身体。黑。苗树{
背景:0 0；
边框:1px虚线# 888；
    }
    .img-item {
            transition: all 0.4s ease-out;
        }
        .img-item a img{
            opacity: 1;
            transition: all 0.4s ease-out;
        }
        .img-item a:hover img{
            opacity: 0.8;
        }   
        .biaotiss {
            font-family: MV Boli;
        }   
        .miaoshus .title {
        font-family: MV Boli;
    } 
    /*大屏幕下(桌面类)的样式*/
    @media only screen and (min-width: 993px) {
        .text_des h3{
            transform: translateX(200px);
        }
        .text_des p{
            transform: translateX(-200px); 
            transition-delay: 0.2s;
        }
        .animate-text {
            opacity: 0;
            transition: all 0.6s ease-in-out; 
        }
    }
    /*小屏幕下(桌面类)的样式*/
    @media only screen and (max-width: 500px) {
        .my-gallery .photo img {
            height: 186px;
        }
    }

</style>
<main class="content">
    <div class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    <div class="miaoshus">
                        <div class="title center-align">“ <%- theme.gallery.title %> ”</div>
                        “ 这里有光影流年，还有两朵穿衣裳的云，相拥在明天的河岸。”                      
                    </div>
                </div>
                <div class="my-gallery">
                    <div class="row">
                    <% if (site.data && site.data.gallery) { %>
                        <% var gallery = site.data.gallery; %>
                        <% for (var i = 0, len = gallery.length; i < len; i++) { %>
                            <% var photo = gallery[i]; %>
                            <% if (photo.cover){ %>
                            <div class="photo col s12 m6 l4">
                                <div class="img-item">
                                    <a href="./<%- photo.url_name %>">
                                        <img src="/medias/loading.svg" data-src="<%- photo.cover %>" class="responsive-img" alt="img"+<%- i %> />
                                        <div class="biaotiss">“ <%- photo.name %> ”<br>“ <%- photo.date %> ”</div>
                                    </a>
                                </div>                              
                            </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <script>
        start()
            $(window).on('scroll', function(){
            start();
        })
        function start(){
              //.not('[data-isLoaded]')选中已加载的图片不需要重新加载
            $('.container img').not('[data-isLoaded]').each(function(){
                var $node = $(this)
                if( isShow($node) ){
                    loadImg($node);
                }
            });
        }
        //判断一个元素是不是出现在窗口(视野)
        function isShow($node){
            return $node.offset().top <= $(window).height() + $(window).scrollTop();
        
